<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tester html</title>
    <!-- include icon credits -->
</head>
<body>
    <div class="navbar">
        <a href="/credits">credits</a>
    </div>
    <p>The temperature in Toronto is {{data.temperature}}, but it <i>feels</i> like {{data.feels_like}}</p>
    <div>
        <img src="beanie-01.png">
    </div>
    <div>
        <img src="sweater-01.png">
    </div>
    <div>
        <img src="underwear-01.png">
    </div>
    <div>
        <img src="shoes-01.png">
    </div>
</body>
</html>