@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

div {
    padding: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.main-nav {
    border:2px solid;
    border-color: rgb(149, 138, 138);
    display: flex;
    flex-basis: auto;
    background-color: rgb(230, 230, 230);
}

.clock {
    margin-right: 0px;
}